@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');




b {
    color:rgb(16, 13, 202)
}

p {
    font-family:cursive
}

h2 {
    font-family: 'Otomanopee One', sans-serif;
    font-size: 25px;
    color:rgb(252, 193, 0)
}

img {

    height: 60%;
    width: 60%;
}

h1 {
    color:rgb(252, 143, 0)
}








